<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # No redirigir si el archivo o directorio existe
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirigir todas las demás solicitudes a index.html
  RewriteRule ^ index.html [L]
</IfModule>
