.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position-y: -100px; 
    max-width: 130.5vw;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgb(31, 32, 32) 12%, rgb(0, 0, 0) 26%, rgb(34, 34, 34) 100%);
    font-family: "Sharp Grotesk 25", sans-serif;
 
   
  }
  .customh1{

    margin-left: 10px;
    font-family: "Sharp Grotesk 25", sans-serif;
    font-weight: 400;
    font-size: 6em;

  }
  .typewriter h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    overflow: hidden;
    border-right: 0.2em solid mintcream;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.05em; 
    width: 12.5ch; 
    animation: 
        typing 4s steps(30, end), 
        blink-caret 0.8s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: mintcream;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12.5ch;
  }
}




h1 {
    font-family: "Sharp Grotesk 25", sans-serif;
    font-size: 6em;
    text-align: center;
}

  @media screen and (max-width: 768px) {
    .parallax {
        background-attachment: scroll; 
        min-height: 50vh; 
        background-position-y: 0px;
    }
    

      .customh1{

        margin-left: 0px;
        margin-top: 60px;
      }

      .typewriter h1 {
        font-size: 2.5rem; 
        width: 12.5ch; 
        letter-spacing: 0.03em; 
    }
    @keyframes typing {
        to { width: 12.5ch; } 
    }
    h1 {
      font-family: "Sharp Grotesk 25", sans-serif;
      font-size: 4em !important;
      text-align: center;
  }
  .title-era{
    margin-top: 100px !important;
  }

  
}
  .custom-text{

    font-weight: 450;
  }

  @media screen and (max-width: 600px) {
    .bd-placeholder-img {
        width: 50%; 
        height: 100%;
        margin-left: 25%;
      
    }
    .customh1{

        margin-left: 0px;
        margin-top: 60px;
      }
}

.box-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}
.custom-bg{
    background-color: #202030;
}

.custom-title{
    color: #202030;
}

/* General */
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Hace la imagen redonda */
  object-fit: cover; /* Asegura que la imagen se ajuste bien */
  transition: transform 0.3s, box-shadow 0.3s; /* Efecto suave para hover */
}

.category-title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

/* Hover Effect */
.category:hover .category-img {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.category:hover .category-title {
  color: #ff5500; 
  transition: transform 0.3s, box-shadow 0.3s; 
  text-decoration: double;
}




.category-link {
  text-decoration: double;
}

.category-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; 
  object-fit: cover; 
  object-position: center;
}

.category:hover .category-img {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra */
}

.category-title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  transition: color 0.3s ease;
}

.category-link:hover .category-title {
  color: #ff5500; /* Cambia el color del texto al pasar el mouse */
}
