@if (activedLoader) {

    <div class="loader-container">
    
        <div class="loader">
            <div style="--i:1" class="loader_item"></div>
            <div style="--i:2" class="loader_item"></div>
            <div style="--i:3" class="loader_item"></div>
            <div style="--i:4" class="loader_item"></div>
            <div style="--i:5" class="loader_item"></div>
            <div style="--i:6" class="loader_item"></div>
            <div style="--i:7" class="loader_item"></div>
            <div style="--i:8" class="loader_item"></div>
            <div style="--i:9" class="loader_item"></div>
            <div style="--i:10" class="loader_item"></div>
            <div style="--i:11" class="loader_item"></div>
            <div style="--i:12" class="loader_item"></div>
        </div>
    
    </div>
    }@else {
    
    <div class="p-4  text-white rounded parallax">
        <div class="col-md-6 px-0">
            <h1 class="text-center title-era">The new era of <span class="text-gradient">Bites</span> is coming...</h1>
    

    
            <p class="lead my-3 custom-text">Embárcate en un viaje a través del mundo de la tecnología, el universo gaming,
                diseño y las últimas noticias, todo desde la perspectiva de los bites. Explora, descubre y sumérgete en un
                océano de conocimiento y entretenimiento digital.</p>
        </div>
    </div>
    <main class="container mt-5 mb-5">
    
        <div class="row mb-2">
            <h2 class="pb-4 mb-4 fst-italic p-4 ">
                Post agregados recientemente
            </h2>
            <div class="horizontal-bars"></div>
    
    
    
            <div class="col-md-6">
                <div
                    class="row g-0 rounded lead overflow-hidden flex-md-row mb-4 box-shadow bg-light shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 custom-title">tecnologias</strong>
                        <h3 class="mb-0">Emprendimiento, Retos para este 2025.</h3>
                        <div class="mb-1 text-muted">Ene 07</div>
                        <p class="card-text mb-auto">
                            ¿Qué tienen en común los videojuegos y el desarrollo de software? Descúbrelo en este post.
                        </p>
    
                        <a href="/blog-tech/emprendimiento" class="stretched-link text-black">Continuar leyendo</a>
                    </div>
                    <div class="col-md-auto d-flex align-items-center">
                        <img class="bd-placeholder-img" width="200px" height="100%"
                            src="https://i.ibb.co/dbwjF9x/emprendimiento.webp" alt="Super Paranoid Android 42"
                            aria-label="Super Paranoid Android 42">
                    </div>
    
                </div>
            </div>
    
            <div class="col-md-6">
                <div
                    class="row g-0  custom-bg lead rounded overflow-hidden flex-md-row mb-4 box-shadow shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-white">Artificial inteligence</strong>
                        <h3 class="mb-0 text-white">¿Puede la IA optimizar nuestro bar de toda la vida?.</h3>
                        <div class="mb-1 text-white">Ene 13</div>
                        <p class="card-text mb-auto text-white">
                            
                            La respuesta es <strong>SI</strong>, entra en este post y te lo contamos todo, desde chatbots, hasta mesas inteligentes, los robots estan aquí.
                        </p>
    
                        <a href="blog-tech/desarrollo" class="stretched-link text-white">Continuar leyendo</a>
                    </div>
                    <div class="col-md-auto d-flex align-items-center">
                        <img class="bd-placeholder-img" width="200" height="100%"
                            src="https://i.ibb.co/7Nbv7Jr/iaforrestaurant.webp" alt="Super Paranoid Android 42"
                            aria-label="Super Paranoid Android 42">
                    </div>
    
                </div>
            </div>
    
    
    
        </div>

        <div class="row text-center">

            <div class="typewriter">
                <h1 class="text-center">CATEGORIAS</h1>
            </div>
            
            <div class="col-md-3 col-6">
                <div class="category">
                    <a href="/categories/technology" class="category-link">
                        <img src="https://i.ibb.co/y0VFycZ/tecnologycat.webp" alt="Tecnología" class="category-img">
                    </a>
                    <a href="/categories/technology" class="category-link">
                        <p class="category-title">Tecnología</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="category">
                    <a href="/categories/entrepreneurship" class="category-link">
                        <img src="https://i.ibb.co/w0R8hDw/emprendimiento.webp" alt="Emprendimiento" class="category-img">
                    </a>
                    <a href="/categories/entrepreneurship" class="category-link">
                        <p class="category-title">Emprendimiento</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="category">
                    <a href="/categories/hospitality" class="category-link">
                        <img src="https://i.ibb.co/XtCnYKn/hospitalitycat.webp" alt="Hostelería" class="category-img">
                    </a>
                    <a href="/categories/hospitality" class="category-link">
                        <p class="category-title">Hostelería</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="category">
                    <a href="/categories/hobbies" class="category-link">
                        <img src="https://i.ibb.co/dtfwBkz/hoobiescat.webp" alt="Hobbies" class="category-img">
                    </a>
                    <a href="/categories/hobbies" class="category-link">
                        <p class="category-title">Hobbies</p>
                    </a>
                </div>
            </div>
        </div>
        
        
    
        <div class="row g-5">
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded box-shadow">
                        <h4 class="fst-italic">About</h4>
                        <p class="mb-0">Dedicados al desarrollo de software, diseño, marketing, nuevas tecnologías, tecnología especializada en el sector hostelero.</p>
                    </div>
    
                    <div class="p-4 bg-light rounded box-shadow ">
                        <h4 class="fst-italic">Publicaciones anteriores.</h4>
                        <ol class="list-unstyled mb-0 ">
                            <li><a class="text-dark" href="#">May 2024</a></li>
    
                        </ol>
                    </div>
                    <br>
                    <div class="p-4 bg-light rounded box-shadow">
                        <h4 class="fst-italic">Te podría interesar.</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://retosdeprogramacion.com/" class="text-black">Retos de programación</a></li>
                            <li><a href="https://certidevs.com/" class="text-black">Formación gratuita</a></li>
                            <li><a href="#" class="text-black">Bite Software</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="pb-4 mb-4 fst-italic p-4">
                    Inicio
                </h2>
                <div class="horizontal-bars"></div>
    
                <article class="blog-post  rounded p-4 bg-light lead" style="text-align: justify;">
                    <h3 class="blog-post-title">¡Bienvenidos a Nuestro Blog!</h3>
                    <p class="blog-post-meta">Enero 06, 2025 by <a href="#" class="text-dark">Jehiel Linarez</a></p>
    
                    <hr>
    
                    <div class="container" style="text-align: justify;">
    
                        <p class="lead">Hemos comenzado, ya no hay vuelta atras, nuestro blog es un hecho, Bite Software es un
                            hecho. <br>
                            Parte de los ideales autoreflexivos y expansionistas intelectuales, me han llevado a la
                            creación, de
                            este espacio, un sitio donde acudir cuando necesito expresarme, dejar llevar mis palabras y
                            demostrar que no todo hoy en dia lo escribe la inteligencia artificialn aunque vaya que me ha
                            ayudado mucho en mi camino como desarrollador.</p>
    
                        <p class="lead">¡Comenzemos!</p>
    
                    </div>
    
                    <h3>El futuro</h3>
                    <blockquote class="blockquote">
                        <p>Incierto e inevitable.</p>
                    </blockquote>
                    <div class="container" style="text-align: justify;">
                        <p class="lead">
                            No lo conocemos, no podemos evadirlo, no podemos ignorarlo: el futuro es hoy, y nosotros somos
                            el futuro. <br>
                            Vamos a convertir este blog en un espacio de aprendizaje, crecimiento, intercambio de
                            conocimientos, comunidad y diversión. Si bien es cierto que nuestro objetivo final es crear
                            nuestra propia compañía, queremos que <span class="text-gradient" style="font-weight: bolder;">A
                                tales of bites</span> sea un lugar donde puedas venir a aprender, compartir, disfrutar y
                            crecer. <br>
                            Buscamos crear una comunidad en torno al enfoque peer to peer, una metodología que he aprendido
                            durante mi paso por <strong>42</strong>. Creemos que la mejor manera de aprender y crecer es
                            junto a la comunidad de desarrolladores. Nos enfocaremos en reunir el talento junior que tanto
                            necesita el mercado laboral y brindarles la oportunidad de crecer y aprender de los mejores.
                        </p>
                    </div>
    
                    <h3>Objetivos</h3>
                    <blockquote class="blockquote" style="text-align: justify;">
                        <p>Claros y precisos.</p>
                    </blockquote>
    
                    <div class="container" style="text-align: justify;">
                        <p>
                            Nuestros objetivos son claros y precisos, sabemos que la motivación sin un plan de acción, puede
                            generar mucha frustración, queremos crear una comunidad de aprendizaje y crecimiento, con Bite Software vamos asesorar al pequeño empresario de la hostería en españa. <br>
                            Con <span class="text-gradient" style="font-weight: bolder;">A tales of bites</span>, queremos
                            ayudar a esos jovenes trabajadores de la hostelería que se sienter perdidos y sin un rumbo
                            claro.
    
                        </p>
                        <h5>Para lograrlo, nos enfocaremos en los siguientes puntos:</h5>
                        <ul>
                            <li>Crear contenido de calidad y relevante para la comunidad.</li>
                            <li>Brindar oportunidades de aprendizaje y crecimiento a los jóvenes talentos.</li>
                            <li>Desarrollar soluciones tecnologícas que permitan mejorar la calidad de vida de los
                                trabajadores de la hostelería.</li>
                            <li>Facilitar herramientas tecnologícas para el pequeño empresario y autónomo.</li>
                            <li>Crear una compañía exitosa y rentable.</li>
                        </ul>
    
                        <h5>Así vamos a comenzar:</h5>
                        <ol>
                            <li>Fundación de Bite Software</li>
                            <li>I + D</li>
                            <li>Divulgación de estudios</li>
                            <li>Fudï en manos de todos</li>
                        </ol>
    
                        <dl>
                            <dt>Bite Software</dt>
                            <dd>Plataforma dedicada al asesoramiento del sector hostelero, especializada en desarrollo de
                                nuevas marcas, control de calidad de alimentos, formación de personal, digitalizacion del
                                sector hostelero.</dd>
                            <dt class="mt-3">I + D</dt>
                            <dd>Constantemente estaremos desarrollando e innovando nuevas tecnologias para colocarlas en
                                manos de todos, todos los pequeños empresarios contaran con un apoyo en soluciones
                                tecnologicas que esten al alcance de todos.</dd>
                            <dt class="mt-3">Divulgación de estudios</dt>
                           <!--  <dd>Una de las cosas que siempre he amado de la comunidad, es la capacidad de compartir la
                                información y nosotros no seremos la excepción, nos dedicaremos a compartir toda la
                                información de manera libre y sin restricciones.</dd>
                            <dt class="mt-3">Bitebooking en manos de todos</dt>
                            <dd>En el master de desarrollo web cursado este año, he logrado desarrollar junto a mis
                                compañeros, BiteBooking, es una plataforma que permite a los restaurantes gestionar reservas
                                de usuario en tiempo real, permitiendo crear menús, te permite dar una mayor exposición de
                                tu negocio y llegar a tu comensal, esto quedo como un proyecto de clase de mucho exito, sin
                                embargo en el futuro, planeamos desarrollar una herramienta similar, que permita al pequeño
                                empresario tener una herramienta gratuita para mejorar sus ventas y visibilidad en la red.
                            </dd> -->
                        </dl>
                    </div>
    
                    <h3>¿What about the fun? </h3>
    
                    <p>Es cierto, es cierto, estamos en mi portfolio y se me ha escapado lo mas importante:
                        <strong>Divertirnos.</strong> <br>
    
                        Gracias por llegar hasta aquí, gracias por interesarte en mi proyecto, gracias por creer que dentro
                        de este oceano de <strong>bites</strong>, podemos conectar y hacer la diferencia, me esforzare por
                        traerte contenido de calidad, por mejorar la comunidad, por divertirme, por continuar estudiante y
                        que seas parte de este viaje, tendremos muchas sorpresas, invitados y demas.
                    </p>
    
    
    
    
                </article>
    
            </div>
    
    
        </div>
    
    
    
    </main>
    
    }