<nav class="navbar navbar-expand-lg" aria-label="Tenth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img class="ms-3" src="https://i.ibb.co/tKV9fKn/logo-tech2.png" alt="" style="max-width: 100px;">
        </a>
        <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
            aria-label="Toggle navigation" (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  justify-content-center " id="navbarsExample08"
            [class.collapse]="collapsed">
            <ul class="navbar-nav">
                <li class="nav-item">
                    
                    <a class="nav-link active bi bi-house" aria-current="page" href="#"> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bi bi-cup-hot" href="#"> Soluciones</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link bi bi-globe-americas" href=""> Contactanos</a>
                </li>
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" id="navbarDropdown2" role="button" ngbDropdownToggle>
                        <i class="nav-icon bi bi-laptop"></i> Servicios
                    </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
                        <a ngbDropdownItem href="#">Outsoursing restaurants</a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Outsoursing franquicias</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>