@if (activedLoader) {

    <div class="loader-container">
    
        <div class="loader">
            <div style="--i:1" class="loader_item"></div>
            <div style="--i:2" class="loader_item"></div>
            <div style="--i:3" class="loader_item"></div>
            <div style="--i:4" class="loader_item"></div>
            <div style="--i:5" class="loader_item"></div>
            <div style="--i:6" class="loader_item"></div>
            <div style="--i:7" class="loader_item"></div>
            <div style="--i:8" class="loader_item"></div>
            <div style="--i:9" class="loader_item"></div>
            <div style="--i:10" class="loader_item"></div>
            <div style="--i:11" class="loader_item"></div>
            <div style="--i:12" class="loader_item"></div>
        </div>
    
    </div>
    }@else {
    <div class="p-4 p-md-4  text-white  parallax ">
        <div class="col-md-6 px-0">
            <div class="overlay ">
                <h1 class="display-4 fst-italic mt-5 text-center"> <span class="custom-name"
                        style="font-weight: 400;">2025 </span> <span class="custom-othername"
                        style="font-weight: 400;"> El reto</span> <br>

                        <h1>
                            Transformar la hosteleria junto a la tecnología
                        </h1>
    
                </h1>
                <p class="lead my-3 custom-text" style="font-weight: 400;"> <br>
                    Desde la llegada de Chatgpt, la inteligencia artificial ha revolucionado la forma en que interactuamos.
                    <br>
                    En este artículo, hablaremos de como puede afectar la inteligencia artificial de manera positiva en la
                    educación, el trabajo y la vida.
                </p>
            </div>
        </div>
    </div>
    <main class="container mt-5 mb-5">
    
    
        <div class="horizontal-bars mb-3"></div>
        <br>
        <div class="row">
    
            <div class="col-md-7">
    
                <article id="about-ia" class="blog-post box-shadow rounded p-4 text-white bg-dark lead"
                    style="text-align: justify;">
                    <h3 class="blog-post-title"> De Skynet hasta Sam Altman, ¿cuál es la verdadera cara de la IA?
                    </h3>
                    <p class="blog-post-meta">Jun 05, 2024 by <a href="https://www.linkedin.com/in/jehiel-linarez/"
                            class="text-white">Jehiel Linarez</a></p>
    
                    <hr>
    
                    <div class="container" style="text-align: justify;">
    
                        <p class="lead">John Connor lo sabía, Morfeo igual, Asimov también, la inteligencia artificial algún
                            día llegaría,
                            ese día es hoy... Indetenible, útil, revolucionaria, serían algunos de los adjetivos con los que
                            podríamos definir a lo que llamaremos a partir de ahora IA. Sin embargo, pecamos de
                            desconocimiento. Siendo una gran herramienta, si es bien utilizada, puede llevarte más lejos que
                            cualquiera. La IA ha llegado para quedarse, y no solo en la ficción, sino en la vida real. Desde
                            la llegada de ChatGPT, ha revolucionado la forma en que interactuamos con las maquinas.</p>
    
    
                    </div>
    
                    <h4>Usos esenciales</h4>
    
                    <div class="container" style="text-align: justify;">
                        <p class="lead">
                            No os engañaremos, para hacer esta web, hemos utilizado IA. Creemos filosóficamente que la IA en
                            buenas manos es una herramienta de cambio, mejora y evolución, siendo un punto de partida para
                            un universio nuevo, los LLM's (Large Language Models) son un ejemplo de ello. Empezaremos
                            hablando de la IA generativa, es esta que se encarga de generar textos, imagenes, codigo,
                            interactuar, etc. En estos casos hemos utilizados modelos como Chat-gpt, Gemini, Midjourney,
                            entre otros.
                        </p>
                    </div>
    
                    <h4>Tipos</h4>
                    <p class="lead">
                        Existen diferentes tipos de inteligencia artificial (IA) que se pueden clasificar de varias maneras
                        según sus capacidades y funciones. Aquí tienes algunos de los tipos más comunes: <br>
                    </p>
                    <ul>
                        <li>
                            <strong>IA basada en reglas: </strong>Este tipo de IA sigue un conjunto predefinido de reglas
                            para tomar
                            decisiones.
                            Es adecuada para aplicaciones simples y específicas donde las reglas son claras y bien
                            definidas.
                        </li>
                        <li>
                            <strong>IA de aprendizaje automático:</strong> Esta IA aprende de datos y experiencias pasadas
                            para mejorar su
                            rendimiento en el futuro. Incluye subtipos como:
    
                        </li>
    
                        <li>
                            <strong>Aprendizaje supervisado: </strong> Se entrena con ejemplos etiquetados y puede predecir
                            etiquetas para
                            nuevos
                            datos.
                        </li>
                        <li>
                            <strong>Aprendizaje no supervisado:</strong> Encuentra patrones y estructuras en datos no
                            etiquetados.
    
                        </li>
    
                        <li>
                            <strong>IA basada en conocimiento:</strong> Utiliza una base de conocimiento estructurada para
                            razonar y tomar
                            decisiones. Puede responder preguntas complejas y resolver problemas utilizando información
                            previamente almacenada.
                        </li>
                        <li>
    
                            <strong>Redes neuronales artificiales:</strong> Inspiradas en el funcionamiento del cerebro
                            humano, estas redes
                            consisten en nodos interconectados que procesan información y pueden aprender patrones
                            complejos.
                        </li>
    
                        <li>
                            <strong>IA evolutiva: </strong> Utiliza algoritmos inspirados en la evolución biológica para
                            optimizar soluciones
                            a
                            problemas complejos a lo largo del tiempo.
                        </li>
                        <li>
    
                            <strong>IA híbrida: </strong> Combina diferentes enfoques y técnicas de IA para abordar
                            problemas más complejos y
                            multidisciplinarios.
    
                        </li>
                    </ul>
    
                    <h4>La inteligencia artificial en la educación</h4>
    
    
                    <div class="container" style="text-align: justify;">
                        <p>
                            La inteligencia artificial (IA) tiene el potencial de personalizar el aprendizaje de manera que
                            antes no era posible. Los sistemas de IA pueden analizar el progreso de los estudiantes y
                            ajustar el contenido y la dificultad de las lecciones en tiempo real, asegurando que cada alumno
                            reciba una educación adaptada a sus necesidades individuales. Además, la IA puede proporcionar
                            retroalimentación instantánea y apoyo, lo que ayuda a los estudiantes a mejorar de manera
                            continua y eficiente.
                        </p>
    
                        <h5>El futuro del aprendizaje</h5>
                        <ul>
                            <li>Educación personalizada y adaptativa.</li>
                            <li>Mayor interés y participación de los estudiantes.</li>
                            <li>Desarrollo de habilidades cruciales para el futuro.</li>
                        </ul>
    
                    </div>
    
                    <h4>Mitos y realidades</h4>
                    <div class="container" style="text-align: justify;">
                        <p>
                            No es cierto que la IA te va a quitar el trabajo, tampoco es cierto que van a dominar al mundo,
                            así como la imprenta genero rechazo y miedo, esta no es la excepción. Sin embargo encontramos
                            que la realidad es muy opuesta, la IA es y será una gran herramienta, como toda buena
                            herramienta, dependera de la persona que la utilice, es cierto que habrá una brecha, ¿Entre
                            quienes?, entre aquellos que sepan utilizarla y aquellos que no. La IA no es un fin, es un
                            medio, que si es mal utilizado, puede ser un arma de doble filo, pues observamos que las
                            personas, prefieren delegar toda la carga creativa en herramientras nuevas.
                        </p>
                    </div>
    
                    <div class="container" style="text-align: justify;">
                        <p class="lead">
                            No es lo mismo que tu lavadora este equipada con IA y puedas automatizar sus procesos, a que le
                            delegues procesos creativos y de aprendizaje, bien utilizada será tu mejor profesor, sin embargo
                            hay algo que siempre nos a distinguido como humanos, es el arte, es la creatividad, la busqueda
                            del conocimiento, es algo que nos diferencia de cualquier otra especie conocida, no podemos
                            delegar en la IA nuestros procesos creativos, pues sería como delegar nuestra esencia, nuestra
                            humanidad, lo que si podríamos hacer es utilizarla para aprender mas rapido, para encontrar
                            soluciones a problemas, testear codigo o simplemente para hacer nuestra vida mas facil.
                        </p>
                    </div>
                </article>
    
            </div>
    
            <div class="col-md-4 content-column">
                <div class="position-sticky" style="top: 2rem;">
                    <!-- Contenedor de imágenes -->
                    <div id="carouselExampleCaptions" class="carousel box-shadow slide bg-light" data-bs-ride="carousel"
                        data-bs-interval="3000" style="border-radius: 20px;">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner" style="border-radius: 20px;">
                            <div class="carousel-item active">
                                <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMdZavHdBOs_R5vVCNpEL-2DMi-cpkQLYaYg&s"
                                    class="d-block w-100" alt="...">
                                <div class="carousel-caption ">
                                    <h5 class="text-white overlay-custom">Open IA</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                    src="https://i.blogs.es/0e8665/astra/650_1200.jpeg" class="d-block w-100" alt="...">
                                <div class="carousel-caption">
                                    <h5 class="overlay-custom ">Astra</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                    src="https://www.lavanguardia.com/files/og_thumbnail/files/fp/uploads/2023/12/05/656eec79e43e8.r_d.358-212-0.png"
                                    alt="...">
                                <div class="carousel-caption">
                                    <h5 class="overlay-custom ">Gemini</h5>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <br>
    
                    <!-- Bloque "About" -->
                    <div class="p-4 mb-3 bg-dark rounded box-shadow about text-light">
                        <h4 class="fst-italic text-light">About "A tales of bites."</h4>
                        <p class="mb-0">Blog dedicado al diseño, tecnología, video juegos y demás.</p>
                    </div>
    
                    <!-- Bloque "Publicaciones anteriores" -->
                    <div class="p-4 bg-dark text-light rounded box-shadow">
                        <h4 class="fst-italic">Publicaciones anteriores.</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a class="text-light" href="/blog-tech">May 2024</a></li>
                        </ol>
                    </div>
    
                    <!-- Bloque "Te podría interesar" -->
                    <br>
                    <div class="p-4 bg-dark text-light rounded box-shadow">
                        <h4 class="fst-italic">Te podría interesar.</h4>
                        <ol class="list-unstyled">
                            <li><a target="_blank" href="https://retosdeprogramacion.com/" class="text-light">Retos de programación</a></li>
                            <li><a target="_blank" href="https://certidevs.com/" class="text-light">Formación gratuita</a></li>
                            <li><a href="https://tech-chef.vercel.app/" class="text-light">Tech chef</a></li>
                        </ol>
                    </div>
                </div>
            </div>
    
    
    
    
        </div>
    
    
    
    </main>
    <div class="p-4 p-md-5 text-white rounded parallaxdos">
        <div class="">
    
            <h1 class="display-4  text-center"><span class="custom-subname">Recomendaciones</span>
    
            </h1>
    
    
        </div>
    </div>
    <div class="container-fluid mt-5 text-center background-image">
        <div class="container marketing">
    
            <!-- Cards de compañias recomendadas -->
            <div class="row justify-content-center custom-cont">
                <div class="col-md-3 custom-card bg-white mt-3 ms-2 mb-3">
                    <img class="bd-placeholder-img " width="160" height="140"
                        src="https://cdn.icon-icons.com/icons2/2429/PNG/512/google_logo_icon_147282.png"
                        alt="Google Gemini">
                    <h2 class="fw-normal">Google Gemini.</h2>
                    <p>Modelo de lenguaje grande multimodal desarrollado por Google DeepMind, que sirve como sucesor de
                        LaMDA y PaLM. Comprende los modelos de Gemini Nano, Gemini Pro y Gemini Ultra. Fue anunciado el 6 de
                        diciembre de 2023, posicionándose como competidor de GPT-4 de OpenAI
                    </p>
    
                    <p><a target="_blank" href="https://gemini.google.com/app?hl=es-ES"><button>Explorar »</button></a></p>
                </div>
    
                <div class="col-md-3 custom-card text-white custom-card-black bg-black ms-2 mt-3 mb-3">
                    <img class="bd-placeholder-img " width="160" height="140"
                        src="https://play-lh.googleusercontent.com/8XCwpfWc9YkehwhrhoID6PGhs5SaSJoocS0oTBA8EsGFGLrj32oIYu5UKsIO7wdU1PQZ"
                        alt=" Open Ia">
                    <h2 class="fw-normal">OpenAI</h2>
                    <p>OpenAI es una empresa de investigación y despliegue de inteligencia artificial fundada en 2015 e,
                        inicialmente, sin ánimo de lucro. Su misión original era asegurar que la inteligencia artificial
                        general fuese desarrollada como código libre y en beneficio de toda la humanidad, desarrollan GPT-4.
                    </p>
                    <p><a target="_blank" href="https://chatgpt.com/"><button class="custom-button">Explorar »</button></a>
                    </p>
                </div>
    
                <div class="col-md-3 custom-card ms-2 bg-white mt-3 mb-3">
                    <img class="bd-placeholder-img " width="180" height="140"
                        src="https://image.chitra.live/api/v1/wps/70bb721/036c1450-1819-4d57-9b8a-1b6f84b85d3e/13/meta-679x419.png"
                        alt="Meta llama">
                    <h2 class="fw-normal">Meta Llama</h2>
                    <p>LLaMA es un gran modelo de lenguaje lanzado por Meta AI en febrero de 2023. Se entrenó una variedad
                        de modelos de tamaños diversos que van desde 7 mil millones a 65 mil millones de parámetros.</p>
                    <br>
                    <br>
                    <p><a target="_blank" href="https://llama.meta.com/"><button>Explorar »</button></a></p>
                </div>
                <div class="col-md-3 custom-card custom-card-black bg-black text-white ms-2 mt-3 mb-3">
                    <img class="bd-placeholder-img " width="200" height="140"
                        src="https://miro.medium.com/v2/resize:fit:1400/1*baHkjoHxOkX_unPGLSQdhg.png">
                    <h2 class="fw-normal">Github Copilot</h2>
                    <p>GitHub Copilot es una herramienta de inteligencia artificial basada en la nube desarrollada por
                        GitHub y OpenAI para ayudar y asistir a los usuarios de Visual Studio Code, Visual Studio, Neovim y
                        los entornos de desarrollo integrado de JetBrains mediante el autocompletado de código.</p>
    
                    <p><a target="_blank" href="https://github.com/features/copilot"><button class="custom-button">Explorar
                                »</button></a></p>
                </div>
                <div class="col-md-3 custom-card ms-2 bg-white mt-3 mb-3">
                    <img class="bd-placeholder-img " width="180" height="140"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbtZMnkh_Mr35ptmIxYGTRG2dk9IrIONBqDQ&s">
                    <h2 class="fw-normal">Midjourney</h2>
                    <p>Es un laboratorio independiente de investigación y el nombre de un programa de inteligencia
                        artificial con el cual sus usuarios pueden crear imágenes a partir de descripciones textuales,
                        similar a Dall-e de OpenAI y al Stable Diffusion de código abierto.</p>
    
                    <p><a target="_blank" href="https://www.midjourney.com/home"><button>Explorar »</button></a></p>
                </div>
                <div class="col-md-3 custom-card text-white custom-card-black bg-black ms-2 mt-3 mb-3">
                    <img class="bd-placeholder-img " width="160" height="140"
                        src="https://play-lh.googleusercontent.com/8XCwpfWc9YkehwhrhoID6PGhs5SaSJoocS0oTBA8EsGFGLrj32oIYu5UKsIO7wdU1PQZ"
                        alt=" Open Ia">
                    <h2 class="fw-normal">DALL-e</h2>
                    <p>Desarrollado por el equipo de OpenIA DALL-E es un programa de inteligencia artificial que crea
                        imágenes a partir de descripciones textuales o estímulos, fue revelada el 5 de enero de 2021 para
                        hacer frente al avance de Midjourney.​
    
                    </p>
                    <br>
                    <p><a target="_blank" href="https://openai.com/index/dall-e-2/"><button class="custom-button">Explorar
                                »</button></a>
                    </p>
                </div>
    
    
            </div>
    
    
    
            <!-- START THE FEATURETTES -->
    
    
    
            <div class="row featurette mt-5 custom-cont p-5 mb-5 rounded bg-black text-white">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 text-gradient">El futuro en tus manos.</h2>
                    <p class="lead">Las nuevas tecnologías representan un gran avance para la humanidad y la manera como nos comunicamos</p>
                    <p class="lead">Dependera de tí, escoger de manera inteligente, que trabajos quieres delegar en ella, que funciones y que optimizar en tu tiempo.</p>
                    <p class="lead">Con sabiduría y discernimiento, podemos aprovechar al máximo su potencial para mejorar nuestras vidas y nuestro mundo.
                    </p>
    
                    <p class="lead">¡Recuerda, nuestra capacidad de comunicarnos a través del arte, la expresión y la creatividad son caracteristicas que nos hacen como ser humanos, no las pierdas!</p>
    
    
    
                </div>
                <div class="col-md-5">
                    <img width="500" height="500" class="bd-placeholder-img rounded bd-placeholder-img-lg featurette-image img-fluid mx-auto bulb"
                        src="https://controlpublicidad.com/uploads/2023/03/inteligencia-artificial-e-imaginacion-102327.jpg"
                        alt="robot ia">
                </div>
                
            </div>
    
        </div>
        <h2 class="text-center mb-4 mt-5">
            Artículos Relacionados
            <div class="horizontal-bars"></div>
        </h2>
        <div class="row">
            <!-- Card de artículo relacionado 1 -->
            <div class="col-md-6 custom-col">
                <div
                    class="row g-0 lead rounded overflow-hidden box-shadow flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light card-hover">
                    <div class="col p-4  d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 custom-title">Work & Lifestyle</strong>
                        <h3 class="mb-0">De chef a tech.</h3>
                        <div class="mb-1 text-muted">May 02</div>
                        <p class="mb-auto card-text">Cómo decidí abandonar una carrera excéntrica como chef
                            de alta cocina para entrar al mundo de los bites, códigos y bugs.</p>
                        <a href="blog-tech/about-me" class="stretched-link text-dark">Continuar leyendo</a>
                    </div>
                    <div class="col-md-auto d-flex align-items-center">
                        <img class="bd-placeholder-img img-recommended" width="200" height="100%" src="https://i.ibb.co/m6ZVJ7x/chef1.jpg"
                            alt="Inteligencia Artificial" aria-label="Inteligencia Artificial">
                    </div>
                </div>
            </div>
            <!-- Card de artículo relacionado 2 -->
            <div class="col-md-6 custom-col">
                <div
                    class="row g-0 bg-dark lead rounded overflow-hidden flex-md-row mb-4 box-shadow shadow-sm h-md-250 position-relative card-hover">
                    <div class="col p-4 d-flex flex-column  position-static">
                        <strong class="d-inline-block mb-2 text-white">Technology</strong>
                        <h3 class="mb-0 text-white">El universo de 42.</h3>
                        <div class="mb-1 text-muted">May 02</div>
                        <p class="card-text mb-auto text-white">
                            ¿Cuál es el sentido de la vida, el universo y todo lo demás? Nuestro Androide favorito, <span
                                class="text-gradient" style="font-weight: bold;">Marvín</span>, parece tener la respuesta.
                        </p>
                        <a href="blog-tech-detail" class="stretched-link text-white">Continuar leyendo</a>
                    </div>
                    <div class="col-md-auto d-flex align-items-center">
                        <img class="bd-placeholder-img img-recommended" width="200" height="100%"
                            src="https://shirtoid.com/wp-content/uploads/2015/02/Super-Paranoid-Android-42.jpg"
                            alt="Super Paranoid Android 42" aria-label="Super Paranoid Android 42">
                    </div>
                </div>
            </div>
            <!-- Agrega más cards de artículos relacionados aquí -->
        </div>
    </div>
    }