html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 14s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(51, 173, 204) 60.33%, #09f 43.33%, #fff 43.33%);

  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:14s;
}

.bg3 {
  animation-duration:13s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.text-gradient {
  background: linear-gradient(to right, #0095ff, #b659a6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.loader-container {
  transform: translate(-50%, -50%);
  width: 30px; 
  height: 30px; 

  margin-left: 48%;
  margin-top: 20%;
  margin-bottom: 30%;
}

.loader {
  display: inline-block;
  position: sticky;

}

.loader .loader_item {
  transform-origin: 40px 40px;
  animation: spinner 1.2s linear infinite;
}

.loader .loader_item:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000000; 
}

.loader .loader_item:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.loader .loader_item:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.loader .loader_item:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.loader .loader_item:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.loader .loader_item:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.loader .loader_item:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.loader .loader_item:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.loader .loader_item:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.loader .loader_item:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.loader .loader_item:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.loader .loader_item:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.loader .loader_item:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes spinner {
  0% {
    opacity: 1;
    filter: hue-rotate(0deg);
  }
  100% {
    opacity: 0;
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 992px) {


  .loader-container{
    transform: translate(-50%, -50%);
    width: 30px; 
    height: 30px; 
  
    margin-left: 45% !important;
    margin-top: 20%;
    margin-bottom: 30%;
  
  }
  
}