<div id="chat-bot">
  <div class="card-container">
    <div class="card-header">
      <div class="img-avatar">
        <a target="_blank" href="https://www.instagram.com/lavictoriarobothub/">
          <img src="https://i.ibb.co/1rjPsRQ/futurito.png"
            style="width: 50px; height: 50px; border-radius: 50%; border: 2px solid #010101;">
        </a>
      </div>
      <h2 class="text-chat">
        Biti Assistant<span class="status-indicator"></span>
      </h2>
      <i id="reset-button" class="fa-solid fa-rotate" (click)="resetChat()"></i>
      <i id="minimize-icon" class="fa-solid fa-minimize" (click)="closeChat()"></i>
    </div>
    <div class="card-body">
      <div id="chat-container" class="chat-container">
     

        @for (message of messages; track $index) {

        <p [class.sent]="message.role === 'user'" [class.received]="message.role !== 'user'">
          
          <strong>{{ message.role === 'user' ? 'Yo' : 'Biti' }}:</strong> {{ message.content }}
        </p>

       
        }
        @if (isLoading) {
        
          <div id="wifi-loader" style="margin-left: 130px; margin-top: 50px;">
          <svg viewBox="0 0 86 86" class="circle-outer">
            <circle r="40" cy="43" cx="43" class="back"></circle>
            <circle r="40" cy="43" cx="43" class="front"></circle>
            <circle r="40" cy="43" cx="43" class="new"></circle>
          </svg>
          <svg viewBox="0 0 60 60" class="circle-middle">
            <circle r="27" cy="30" cx="30" class="back"></circle>
            <circle r="27" cy="30" cx="30" class="front"></circle>
          </svg>

          <div data-text="Pensando..." class="text"></div>
        </div>

        }

      </div>
    </div>
    <div class="message-input">
      <input type="text" id="message-input" class="message-send" placeholder="Escribe un mensaje..."
        (keydown)="handleKeyDown($event)">
      <button (click)="sendMessage($event)" class="button-send">Enviar</button>
    </div>
  </div>
</div>

<div>
  <img id="robot-icon" src="https://i.ibb.co/0yXKKmZs/chat2.png" alt="Robot" (click)="toggleChat()" />
  
</div>