<div class="container">
        <div class="row ">
            <div class="col">
                <div class="custom-container container">
                    <h1 class="custom-text">Soluciones hosteleras <span class="text-gradient"> disruptivas</span>.</h1>
                    <p class="custom-content">Somos una startup con la misión de acercar la tecnología al sector
                        hostelero.
                        Ofrecemos herramientas web diseñadas para apoyar a pequeños y medianos empresarios, impulsando
                        la
                        microeconomía y facilitando la modernización de las pymes del sector.


                    </p>

                    <button class="btn custom-btn btn-outline-dark m-3 ">Conocenos</button>


                </div>

            </div>

            <div class="col">
                <img class="custom-img " src="https://i.ibb.co/T4gFDDt/guy1.jpg" alt="">



            </div>



        </div>
</div>