<div class="container">
    <div class="row ">
        <div class="col">
            <div class="custom-container container">
                <h1 class="custom-text">Soluciones hosteleras <span class="text-gradient"> disruptivas</span>.</h1>
                <p class="custom-content">Somos una startup con la misión de acercar la tecnología al sector
                    hostelero.
                    Ofrecemos herramientas web diseñadas para apoyar a pequeños y medianos empresarios, impulsando
                    la
                    microeconomía y facilitando la modernización de las pymes del sector.


                </p>

                <button class="btn custom-btn btn-outline-dark m-3 ">Conocenos</button>


            </div>

        </div>

        <div class="col">
            <img class="custom-img " src="https://i.ibb.co/T4gFDDt/guy1.jpg" alt="">



        </div>



    </div>


</div>



<div>

    <section class="bg-light  mt-5 py-md-5 py-xl-8">
        <div class="container ">
            <div class="row gy-4 gy-md-5 gy-lg-0 align-items-center">
                <div class="col-12 col-lg-5">
                    <div class="row">
                        <div class="col-12 col-xl-11">
                            <h3 class="fs-6 text-secondary mb-3 mb-xl-4 text-uppercase">¿Porque trabajar con nosotros?
                            </h3>
                            <h2 class="display-5 mb-3 mb-xl-4">Somos la solución <span class="text-gradient">perfecta
                                </span> para tu negocio .</h2>
                            <p class="mb-3 mb-xl-4">Con un amplio equipo de profesionales, contaras con las herramientas
                                necesarias, desde creación de paginas webs, hasta desarrollo de software a medida,
                                podras encontrar mas de una solución para la digitalización de tu empresa.</p>
                            <a href="#contacto" class="btn bsb-btn-2xl btn-outline-dark rounded-pill">Contactanos</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 ">
                    <div data-aos="fade-up"
                    data-aos-easing="linear"
                    data-aos-duration="1500"class="row gy-4">
                        <div  class="col-12 col-sm-6">
                            <div  class="card custom-card border-bottom border-primary shadow-sm">
                                <div class="card-body text-center p-4 p-m-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor"
                                        class="bi bi-textarea-resize text-primary mb-4" viewBox="0 0 16 16">
                                        <path
                                            d="M0 4.5A2.5 2.5 0 0 1 2.5 2h11A2.5 2.5 0 0 1 16 4.5v7a2.5 2.5 0 0 1-2.5 2.5h-11A2.5 2.5 0 0 1 0 11.5v-7zM2.5 3A1.5 1.5 0 0 0 1 4.5v7A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 13.5 3h-11zm10.854 4.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708l3-3a.5.5 0 0 1 .708 0zm0 2.5a.5.5 0 0 1 0 .708l-.5.5a.5.5 0 0 1-.708-.708l.5-.5a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                    <h4 class="mb-4">Market Research</h4>
                                    <p class="mb-4 text-secondary">Con un amplia experiencia en el sector,
                                        estableceremos parametros acordes a tus necesidades, nuestra prioridad es hacer
                                        crecer tu proyecto.
                                    </p>
                                    <a href="#!" class="fw-bold text-decoration-none link-primary">
                                        Ver más
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="card custom-card border-0 border-bottom border-primary shadow-sm">
                                <div class="card-body text-center p-4 p-m-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor"
                                        class="bi bi-tablet text-primary mb-4" viewBox="0 0 16 16">
                                        <path
                                            d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
                                        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                    </svg>
                                    <h4 class="mb-4">Web Design</h4>
                                    <p class="mb-4 text-secondary">Asesoramiento especializado en el sector de la
                                        hostelería, en muy poco tiempo podremos llevar tu negocio al mundo de la
                                        tecnología.</p>
                                    <a href="#!" class="fw-bold text-decoration-none link-primary">
                                        Ver más
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="card border-0 custom-card border-bottom border-primary shadow-sm">
                                <div class="card-body text-center p-4 p-m-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor"
                                        class="bi bi-repeat text-primary mb-4" viewBox="0 0 16 16">
                                        <path
                                            d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
                                    </svg>
                                    <h4 class="mb-4">Daily Updates</h4>
                                    <p class="mb-4 text-secondary">Constantes desarrollos, con un equipo entusiasta de
                                        la tecnología, velaremos por mantenerte actualizado.</p>
                                    <a href="#!" class="fw-bold text-decoration-none link-primary">
                                        Ver más
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="card border-0 border-bottom custom-card border-primary shadow-sm">
                                <div class="card-body text-center p-4 p-m-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor"
                                        class="bi bi-shield-check text-primary mb-4" viewBox="0 0 16 16">
                                        <path
                                            d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
                                        <path
                                            d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                    <h4 class="mb-4">Free Support</h4>
                                    <p class="mb-4 text-secondary">Una vez eres nuestro socio, lo seras siempre,
                                        nuestros clientes cuentan con soporte 24/7 sin ningun coste adicional.
                                    </p>
                                    <a href="#!" class="fw-bold text-decoration-none link-primary">
                                        Ver más
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-lg-12 mx-auto">

        <h1 class="custom-text-ally">Nuestros aliados</h1>


    </div>
    <div class="slider">

        <div class="slide-track">
            <a href="https://github.com/JehielL/bitebooking-frontend">
                <div class="slide">
                    <img src="https://i.ibb.co/kgz9MP8/last-hibachi-logo-removebg-preview.png" alt="">

                </div>
            </a>

            <a href="https://github.com/JehielL/oop-java-adecco">
                <div class="slide">
                    <img src="https://wahkeepty.com/wp-content/uploads/2020/02/1.png" alt="">

                </div>
            </a>

            <a href="https://github.com/JehielL/java-spring">
                <div class="slide">
                    <img src="https://i.ibb.co/wzDpN2P/logo-KP-pdf-removebg-preview.png" alt="">

                </div>
            </a>

            <a href="https://github.com/JehielL/curso-java/tree/main/Python">

                <div class="slide">
                    <img src="https://i.ibb.co/ZNXkSR3/oh-toro-logo-bg-remove.png" alt="">

                </div>

            </a>
            <a href="https://github.com/JehielL/curso-java/tree/main/SQL">
                <div class="slide">
                    <img src="https://i.ibb.co/BBJ1zMq/MAGUROlogo-pdf-removebg-preview.pnghttps://i.ibb.co/BBJ1zMq/MAGUROlogo-pdf-removebg-preview.pnghttps://i.etsystatic.com/26674607/r/il/fab569/3656957743/il_794xN.3656957743_snou.jpg"
                        alt="">

                </div>

            </a>

            <a href="https://github.com/JehielL/bitebooking-frontend">
                <div class="slide">
                    <img src="https://i.ibb.co/h1JSJ7X/isaki-logo-removebg-preview.png" alt="">

                </div>
            </a>



        </div>
    </div>
    <div class="col-lg-12 mx-auto">

        <h1 class="custom-text-ally">Nuestro equipo</h1>


    </div>

    <div class="container " data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1500">
        <div class="row text-center">


            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white team-item rounded shadow-sm py-5 px-4"><img src="https://i.ibb.co/BLfxddp/profile.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 custom-profile img-thumbnail shadow-sm">
                    <h5 class="mb-0">Jehiel Linarez</h5><span class="small text-uppercase text-muted">CEO -
                        Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/jehiel-linarez/" class="social-link"><i class="bi bi-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item"><a target="_blank" href="https://github.com/JehielL" class="social-link"><i class="bi bi-github"></i></a>
                        </li>
                        <li class="list-inline-item"><a target="_blank" href="https://portfolio-jehiel.vercel.app/" class="social-link"><i class="bi bi-houses"></i></a>
                        </li>
                    </ul>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white team-item  rounded shadow-sm py-5 px-4"><img src="https://i.ibb.co/3Nb4vLT/1637355000423.jpg"
                        alt="" width="100" class="img-fluid custom-profile rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Maria L. Asuaje</h5><span class="small text-uppercase text-muted">UX/UI -
                        Co-founder</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/maria-laura-asuaje-palmero-94a00380/" class="social-link"><i class="bi bi-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item"><a target="_blank" href="https://github.com/Malauraasuaje" class="social-link"><i class="bi bi-github"></i></a>
                        </li>
                        <li class="list-inline-item"><a target="_blank" href="https://malauraasuaje.github.io/portfoliodev/" class="social-link"><i class="bi bi-houses"></i></a>
                        </li>
                    </ul>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3  col-sm-6 mb-5">
                <div class="bg-white team-item rounded shadow-sm py-5 px-4"><img src="https://i.ibb.co/NmgSjKC/Foto-Perfil.jpg"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 custom-profile img-thumbnail shadow-sm">
                    <h5 class="mb-0">Carlos D. Feliz</h5><span class="small text-uppercase text-muted">CTO -
                        Co-founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/carlos-david-feliz-ram%C3%ADrez/" class="social-link"><i class="bi bi-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item"><a target="_blank" href="https://github.com/CarlosDavidFelizRamirez" class="social-link"><i class="bi bi-github"></i></a>
                        </li>
                        <li class="list-inline-item"><a target="_blank" href="https://github.com/CarlosDavidFelizRamirez" class="social-link"><i class="bi bi-houses"></i></a>
                        </li>
                    </ul>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white team-item rounded shadow-sm py-5 px-4"><img
                        src="https://bootstrapious.com/i/snippets/sn-team/teacher-7.jpg" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail custom-profile shadow-sm">
                    <h5 class="mb-0">Hector Asuaje</h5><span class="small text-uppercase text-muted">UX/UI</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-github"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-houses"></i></a>
                        </li>
                    </ul>
                </div>
            </div><!-- End -->
        </div>
    </div>

    <section  class="bg-dark text-white mt-5 py-md-5 py-xl-8">
        <div class="container">
            <div class="row gy-4 gy-md-5 gy-lg-0 align-items-center" data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="1500">
                <div class="col-12 col-lg-5 order-1 order-lg-2" >
                    <div class="row" >
                        <div class="col-12 col-xl-11">
                            <h3 class="fs-6 text-secondary mb-3 mb-xl-4 text-uppercase">Desarrollos</h3>
                            <h2 class="display-5 mb-3 mb-xl-4">Descubre <span class="text-gradient">aplicaciones</span>
                                que harán crecer tu negocio.</h2>
                            <p class="mb-3 mb-xl-4">Con un amplio equipo de profesionales, contaras con las herramientas
                                necesarias, desde creación de paginas webs, hasta desarrollo de software a medida,
                                podras encontrar mas de una solución para la digitalización de tu empresa.</p>
                            <a href="#contacto" class="btn bsb-btn-2xl btn-outline-dark rounded-pill">Contactanos</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 order-2 order-lg-1">
                    <div class="row gy-4">
                        <div class="col-12 col-sm-6">
                            <div class="col">
                                <div class="card custom-card-app">
                                    <img src="https://i.ibb.co/d2mNPpP/Captura-de-pantalla-2024-04-28-111137.png"
                                        class="card-img-top" alt="Booking application" />
                                    <div class="card-body">
                                        <h5 class="card-title">Bitebooking</h5>
                                        <p class="card-text">Plataforma de gestión de reservaciones para restaurantes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="col">
                                <div class="card custom-card-app">
                                    <img src="https://i.ibb.co/yXGk4mZ/Captura-de-pantalla-2024-05-25-005129.png"
                                        class="card-img-top" alt="How much?" />
                                    <div class="card-body">
                                        <h5 class="card-title">How much?</h5>
                                        <p class="card-text">Plataforma especializada en calculo de costos y gestión de
                                            stock.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-lg-12 mx-auto custom-services">

        <h1 class="custom-text-ally">Servicios</h1>


    </div>

    <!-- Service 8 - Bootstrap Brain Component -->
    <section data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1500" class="py-3 py-md-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="container-fluid">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-12 col-md-6 col-lg-4 mb-4">
                                <div class="card custom-card card-service border-0 text-center mx-auto">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56"
                                            fill="currentColor" class="bi bi-gear-fill text-primary mb-4"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                                        </svg>
                                        <h4 class="text-shadow-head mb-4">Desarrollo de negocio</h4>
                                        <p class="text-shadow-body mb-4">Con nosotros podras desarrollar desde una idea,
                                            hasta tus manuales de procedimiento, contaras con asesoramiento
                                            personalizado.</p>
                                        <a href="#!" class="fw-bold text-decoration-none link-primary">
                                            Ver más
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 mb-4">
                                <div class="card custom-card border-0 card-service text-center mx-auto">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <i class="bi bi-code-slash text-black text-primary mb-4"
                                            style="font-size: 56px;"></i>
                                        <h4 class="text-shadow-head mb-4">Desarrollo web</h4>
                                        <p class="text-shadow-body mb-4">Desarrolla tu web escalable con el mejor
                                            soporte, obtendras constantes mejoras para mantener tu negocio actualizado.
                                        </p>
                                        <a href="#!" class="fw-bold text-decoration-none link-primary">
                                            Ver más
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 mb-4">
                                <div class="card custom-card border-0 text-center card-service mx-auto">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <i class="bi bi-award-fill text-black text-primary mb-4"
                                            style="font-size: 56px;"></i>
                                        <h4 class="text-shadow-head mb-4">Evaluación de calidad</h4>
                                        <p class="text-shadow-body mb-4">Nuestro servicio corporativo esta alineado con
                                            los mas altos estandares de calidad, desde campañas publicitarias hasta
                                            revisión de procesos en restaurantes.</p>
                                        <a href="#!" class="fw-bold text-decoration-none link-primary">
                                            Ver más
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div  id="contacto" class="col-lg-12 mx-auto">

        <h1 class="custom-text-ally">Contactanos</h1>


    </div>
    
    <section>
        
        <div data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500" class="form-container">
            <div class="form">
    
                <h3 class="titulo-seccion   p-2 text-center">Trabaja con nosotros</h3>
                <div class="form-group">
                    <form action="https://formsubmit.co/jehiel.py@gmail.com" method="POST">
    
                        <div class="labels">
                            <input type="text" name="name" id="name" placeholder="Nombre Completo" class="input-mitad"
                                required>
                            <br>
                            <input type="email" name="email" id="email" placeholder="Dirección de Email" class="input-mitad"
                                required>
    
    
                            <input type="text" name="subject" id="subject" placeholder="Asunto..." class="input-full">
    
    
                            <textarea name="message" id="message" cols="30" rows="10" placeholder="Tu Mensaje..."
                                class="input-full" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-dark">Enviar Mensaje</button>
    
                        </div>
                        <input type="hidden" name="_next" value="http://localhost:4200/">
                        <input type="hidden" name="_captcha" value="false">
                    </form>
    
                </div>
    
            </div>
        </div>
    
    
    </section>


</div>