

.custom-img {
  max-width: 450px;
  max-height: 450px;
  border-radius: 50%;
  margin-top: 200px;
  margin-left: calc(50% - 175px);
}


.custom-text {
  background-color: #f7f7f7;
  font-size: 75px;
  font-weight: bold;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 170px;
  padding: 10px;
}
.custom-text-ally {
  background-color: #f7f7f7;
  font-size: 35px;
  font-weight: bold;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}
.custom-text-team {
  background-color: #f7f7f7;
  font-size: 35px;
  font-weight: bold;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}
.custom-container{
  background-color: #f7f7f7;
  margin-bottom: 20px;
  border-radius: 20px;

}

.custom-content{
  background-color: #f7f7f7;
  font-size:1em;
  border-radius: 10px;
  padding: 20px;
  margin-top: -30px;
  
}
@media (max-width: 576px) {
  .custom-img {
    margin-top: -15px;
    border-radius: 20px;
   max-width: 350px;
   max-width: 350px;
  }

}

.custom-btn{
  background-color: linear-gradient(to right, #0095ff, #b659a6);
  font-size: px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  margin-left: calc(58% - 100px) !important;
}

path{
  font-size: 20px;
  color: #030303;
}
.custom-card{
  background-color: #f7f7f7;
  border-radius: 20px;
}
.border-primary {
  border: 1px solid #000000 !important;
}

/* General card styling */
.custom-card {
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  border: none;
  border-bottom: 1px solid #0095ff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}
.custom-card-app {
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  box-shadow: 0 10px 20px rgba(2, 238, 246, 0.318) !important;
}
.custom-card-app .card-img-top {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
}

/* Card hover effect */
.custom-card:hover {
  transform: translateY(-15px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.custom-card-app:hover {
  transform: translateY(-15px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* Card body styling */
.card-body {
  background-color: #f7f7f7;
  border-radius: 15px;
  padding: 20px;
  transition: background-color 0.4s ease-in-out;
}

.custom-card:hover .card-body {
  background-color: #ffffff;
}

/* SVG icon */
.custom-card .bi-tablet, 
.custom-card .bi-textarea-resize, 
.custom-card .bi-repeat, 
.custom-card .bi-shield-check {
  color: #0095ff; /* Primary color for the icon */
}

/* Title */
.custom-card h4 {
  color: #030303; /* Dark color for the title */
  transition: color 0.4s ease-in-out;
}

.custom-card:hover h4 {
  color: #b659a6; /* Color change on hover */
}

/* Text */
.custom-card p {
  color: #6c757d; /* Secondary text color */
}

/* Link */
a.link-primary {
  color: #0095ff;
  transition: color 0.4s ease-in-out;
}

a.link-primary:hover {
  color: #b659a6;
  text-decoration: none;
}

/* Card image container */
.card-img {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  perspective: 1000px; /* Add perspective for 3D effect */
}

/* Card image styling */
.card-img .img {
  transition: transform 0.5s, box-shadow 0.5s;
}

/* Card image hover effect */
.card-img:hover .img {
  transform: translateY(-10px) rotateX(10deg) rotateY(10deg);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .custom-card {
    transform: scale(0.9);
    width: 100%;
    padding: 10px;
  }

  .card-body {
    padding: 15px;
  }

  .card-img .img {
    width: 80px;
    height: 80px;
  }

  .custom-card h4 {
    font-size: 1.25rem; /* Adjust font size for smaller screens */
  }

  .custom-card p {
    font-size: 0.875rem; /* Adjust font size for smaller screens */
  }

  .card-btn {
    height: 30px;
    padding: 0 10px;
  }

  .card-price {
    font-size: 1.125rem;
  }

  .card-price span {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .custom-card {
    transform: scale(0.8);
    width: 80%;
    padding: 5px;
  }

  .card-body {
    padding: 10px;
  }

  .card-img .img {
    width: 60px;
    height: 60px;
  }

  .custom-card h4 {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .custom-card p {
    font-size: 0.75rem; /* Adjust font size for smaller screens */
  }

  .card-btn {
    height: 25px;
    padding: 0 5px;
  }

  .card-price {
    font-size: 1rem;
  }

  .card-price span {
    font-size: 0.875rem;
  }
 
}

/* Slider */

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  padding: 10px;
}

.slider .slide-track {
  display: flex;
  animation: scroll 15s linear infinite;
  -webkit-animation: scroll 15s linear infinite;
  width: fit-content;
}

.slider .slide {
  width: 150px;
  margin-right: 100px;
  max-width: 80px;
}

.slider .slide img {
  width: 200%;
}

@keyframes scroll {
  0% {
    transform: translateX(120%); /* Mueve todos los slides fuera de la vista hacia la derecha */
  }
  100% {
    transform: translateX(-100%); /* Mueve todos los slides fuera de la vista hacia la izquierda */
  }
}

.slider .slide:hover .slide-track {
  animation-play-state: paused;
}

.slider .slide:hover {
  cursor: pointer; /* Cambia el cursor al pasar sobre los slides */
}



.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}